In [1]:
# !pip install Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_arCar= pd.read_csv("data/anal_report_title_car.csv", encoding="cp949")

In [3]:
df_arCar

,code,idx,carm,carn,hprm,hprn,date,mret,yy,mm,...,ind9,ind10,ind11,ind12,ind13,ind14,ind15,ind16,ind17,car
0,15940,482,-0.043824253,-0.032345538,-0.046355,-0.034294,20091202.0,1.406958,2009.0,12.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.382425
1,49070,491,0.0487471867,0.0275713807,0.048961,0.027721,20091215.0,0.080194,2009.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.874719
2,49520,491,0.0849471867,0.0637713807,0.085799,0.064559,20091215.0,0.080194,2009.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.494719
3,54340,491,-0.000152813,-0.002880507,-0.000746,-0.003532,20091215.0,0.080194,2009.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.015281
4,68790,432,-0.030058153,-0.023241573,-0.030451,-0.023697,20090922.0,1.322921,2009.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.005815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44616,97230,1535,-0.039736673,-0.044007104,-0.039566,-0.043828,20140228.0,0.083040,2014.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.973667
44617,55550,1940,-0.003910137,-0.02495698,-0.004270,-0.025461,20151022.0,-1.047794,2015.0,10.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.391014
44618,33660,2203,0.0130434491,0.0171058184,0.013089,0.017082,20161116.0,0.765930,2016.0,11.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.304345
44619,120,2479,-0.016607077,-0.033525755,-0.017407,-0.034525,20180103.0,0.416458,2018.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.660708
44620,120,811,-0.040710288,-0.028617534,-0.042024,-0.029422,20110330.0,0.949526,2011.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.071029

In [4]:
df=df_arCar.loc[:,['code','analyst','coname','carm','yy','mm','dd','title']]
df.tail(100)

,code,analyst,coname,carm,yy,mm,dd,title
44521,810,박윤영,삼성화재,-0.003827272,2011.0,12.0,1.0,삼성화재-10월 Review: 최고의 안정성에 이익모멘텀 추가
44522,12750,이지연,에스원,-0.005468402,2011.0,11.0,10.0,에스원-안정성에 더해진 실적 개선 기대감
44523,9540,최광식,한국조선해양,0.0256865505,2011.0,1.0,28.0,현대중공업-2011 어닝 모멘텀과 영업 기대감 최고
44524,1630,고성진,종근당홀딩스,0.084784188,2011.0,8.0,1.0,종근당-2Q Review: 영업이익 기대 이상..하반기 실적호조 이어질 전망
44525,1300,최지수,제일모직,-0.001164499,2011.0,4.0,8.0,제일모직-중기적 관점으로 기대감 재조정 필요
...,...,...,...,...,...,...,...,...
44616,97230,한영수,한진중공업,-0.039736673,2014.0,2.0,28.0,한진중공업-이익개선 기대감 vs 이익전망을 변경시킬 수 있는 요소들
44617,55550,유승창,신한지주,-0.003910137,2015.0,10.0,22.0,신한지주-이익 안정성 및 배당수익률 상승 기대감 유효
44618,33660,김재우,아주캐피탈,0.0130434491,2016.0,11.0,16.0,아주캐피탈-3Q review-이익 안정성 매력적이나 중장기적 시장 입지 강화 필요
44619,120,조병희,CJ대한통운,-0.016607077,2018.0,1.0,3.0,"CJ대한통운-낮아진 기대감, 이익 증가 확인 이후 반등 기대"
44620,120,김정은,CJ대한통운,-0.040710288,2011.0,3.0,30.0,"대한통운-안정적 이익 성장세 + M&A 프리미엄, 운송업종 최선호주 추천"

## 중복 title 추출

In [5]:
title_list = list(set(df['title']))  # set은 허용 X
# print(title_list)
new_df = pd.DataFrame()

for i in title_list:
    tmp = df[df['title'] == i]
    if len(tmp) >= 2:
        new_df = pd.concat([new_df, tmp])

In [6]:
new_df

,code,analyst,coname,carm,yy,mm,dd,title
12631,4020,엄진석,현대제철,-0.00420305,2011.0,6.0,13.0,"현대제철-시황 회복 움직임, 주가도 Turning!"
12632,4020,엄진석,현대제철,-0.00420305,2011.0,6.0,13.0,"현대제철-시황 회복 움직임, 주가도 Turning!"
40893,5490,박현욱,POSCO,0.0177310354,2016.0,1.0,29.0,"POSCO-올해 이익증가, P/B 매력이 투자포인트"
40894,5490,박현욱,POSCO,0.0177310354,2016.0,1.0,29.0,"POSCO-올해 이익증가, P/B 매력이 투자포인트"
33080,19680,이승욱,대교,-0.007654265,2017.0,4.0,26.0,대교-올라간 눈높이
...,...,...,...,...,...,...,...,...
10299,28050,변성진,삼성엔지니어링,-0.014164321,2010.0,3.0,18.0,건설: Construction-건설업 단기 투자전략
6976,10130,이재광,고려아연,-0.01800051,2016.0,10.0,26.0,고려아연-3Q16 review: 일회성 요인 감안해도 부진한 실적
6977,10130,이재광,고려아연,-0.01800051,2016.0,10.0,26.0,고려아연-3Q16 review: 일회성 요인 감안해도 부진한 실적
7873,6400,정성호,삼성SDI,0.0272835284,2009.0,4.0,29.0,"삼성SDI-2Q09 전망: 실적 저점은 1Q09, 2Q09 영업흑자전환 전망"
7874,6400,정성호,삼성SDI,0.0272835284,2009.0,4.0,29.0,"삼성SDI-2Q09 전망: 실적 저점은 1Q09, 2Q09 영업흑자전환 전망"

In [8]:
new_df.to_csv('./new_df.csv', encoding='cp949')

## Data load

In [52]:
df=pd.read_csv("new_df.csv", encoding="cp949")

In [53]:
titError= pd.read_csv("data/(titleError) anal_report_title_car.csv", encoding="cp949")

In [54]:
titError.head()

,RowNumber,code,idx,carm,carn,hprm,hprn,date,mret,yy,...,ind9,ind10,ind11,ind12,ind13,ind14,ind15,ind16,ind17,car
0,0,15940,482,-0.043824253,-0.032345538,-0.046355,-0.034294,20091202.0,1.406958,2009.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.382425
1,1,49070,491,0.048747187,0.027571381,0.048961,0.027721,20091215.0,0.080194,2009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.874719
2,2,49520,491,0.084947187,0.063771381,0.085799,0.064559,20091215.0,0.080194,2009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.494719
3,3,54340,491,-0.000152813,-0.002880507,-0.000746,-0.003532,20091215.0,0.080194,2009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.015281
4,4,68790,432,-0.030058153,-0.023241573,-0.030451,-0.023697,20090922.0,1.322921,2009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.005815

In [55]:
titError['RowNumber']

0            0
1            1
2            2
3            3
4            4
         ...
44616    44616
44617    44617
44618    44618
44619    44619
44620    44620
Name: RowNumber, Length: 44621, dtype: int64

In [56]:
df.head()

,Unnamed: 0,code,coname,carm,yy,mm,dd,title
0,32166,5490,POSCO,0.0205620953,2017.0,1.0,26.0,POSCO-4Q16 Review : 지나간 것은 뒤로 하고
1,32167,5490,POSCO,0.0205620953,2017.0,1.0,26.0,POSCO-4Q16 Review : 지나간 것은 뒤로 하고
2,25937,60,메리츠화재,0.0379182515,2015.0,1.0,1.0,손해보험-긍정적인 업종 기조변화가 가시화되는 국면
3,25947,810,삼성화재,0.0039182515,2015.0,1.0,1.0,손해보험-긍정적인 업종 기조변화가 가시화되는 국면
4,25951,1450,현대해상,0.0392182515,2015.0,1.0,1.0,손해보험-긍정적인 업종 기조변화가 가시화되는 국면

In [59]:
total = []

for i,t in enumerate(titError['title']):
    duplication = 0 
    for j in df['Unnamed: 0']:
        if titError['RowNumber'][i] == j: 
            duplication = duplication + 1 
        else: 
            duplication = duplication
    total.append(duplication)

# titError['dupliction_error']=total

In [62]:
titError.insert(19, 'dupliction_error', total )

In [63]:
pd.set_option('display.max_columns', None) 
print(titError)

       RowNumber   code   idx          carm          carn      hprm      hprn  \
0              0  15940   482  -0.043824253  -0.032345538 -0.046355 -0.034294
1              1  49070   491   0.048747187   0.027571381  0.048961  0.027721
2              2  49520   491   0.084947187   0.063771381  0.085799  0.064559
3              3  54340   491  -0.000152813  -0.002880507 -0.000746 -0.003532
4              4  68790   432  -0.030058153  -0.023241573 -0.030451 -0.023697
...          ...    ...   ...           ...           ...       ...       ...
44616      44616  97230  1535  -0.039736673  -0.044007104 -0.039566 -0.043828
44617      44617  55550  1940  -0.003910137   -0.02495698 -0.004270 -0.025461
44618      44618  33660  2203   0.013043449   0.017105818  0.013089  0.017082
44619      44619    120  2479  -0.016607077  -0.033525755 -0.017407 -0.034525
44620      44620    120   811  -0.040710288  -0.028617534 -0.042024 -0.029422

             date      mret      yy    mm    dd  coname    house analyst  \
0      20091202.0  1.406958  2009.0  12.0   2.0   LG데이콤  KTB투자증권     송재경
1      20091215.0  0.080194  2009.0  12.0  15.0     인탑스  LIG투자증권     김갑호
2      20091215.0  0.080194  2009.0  12.0  15.0    유아이엘  LIG투자증권     김갑호
3      20091215.0  0.080194  2009.0  12.0  15.0     피앤텔  LIG투자증권     김갑호
4      20090922.0  1.322921  2009.0   9.0  22.0     DMS  LIG투자증권     김영준
...           ...       ...     ...   ...   ...     ...      ...     ...
44616  20140228.0  0.083040  2014.0   2.0  28.0   한진중공업     삼성증권     한영수
44617  20151022.0 -1.047794  2015.0  10.0  22.0    신한지주   KB투자증권     유승창
44618  20161116.0  0.765930  2016.0  11.0  16.0   아주캐피탈     삼성증권     김재우
44619  20180103.0  0.416458  2018.0   1.0   3.0  CJ대한통운     키움증권     조병희
44620  20110330.0  0.949526  2011.0   3.0  30.0  CJ대한통운  HMC투자증권     김정은

                                               title  title_error   title_중복  \
0                                                NaN           NaN       NaN
1                                                NaN           NaN       NaN
2                                                NaN           NaN       NaN
3                                                NaN           NaN       NaN
4                                                NaN           NaN       NaN
...                                              ...           ...       ...
44616          한진중공업-이익개선 기대감 vs 이익전망을 변경시킬 수 있는 요소들           NaN       NaN
44617                  신한지주-이익 안정성 및 배당수익률 상승 기대감 유효           NaN       NaN
44618  아주캐피탈-3Q review-이익 안정성 매력적이나 중장기적 시장 입지 강화 필요           NaN       NaN
44619              CJ대한통운-낮아진 기대감, 이익 증가 확인 이후 반등 기대           NaN       NaN
44620       대한통운-안정적 이익 성장세 + M&A 프리미엄, 운송업종 최선호주 추천           NaN       NaN

       type_error  dupliction_error recomm   tprice   cprice      eps  \
0             NaN                 0    BUY   24,000   17,800  2012.58
1             NaN                 0    BUY   27,000   18,750  3284.41
2             NaN                 0    BUY    8,000    5,560   570.51
3             NaN                 0    BUY   15,000   10,050  1537.59
4             NaN                 0    BUY   12,000    8,930   691.83
...           ...               ...    ...      ...      ...      ...
44616         NaN                 0   HOLD   14,000   13,100 -2727.00
44617         NaN                 0    BUY   63,000   43,850  4657.00
44618         NaN                 0   HOLD    7,500    7,060  1428.00
44619         NaN                 0    BUY  190,000  145,000  2747.00
44620         NaN                 0    BUY  135,000  106,500  9204.00

       recommend  ch_recomm  ch_price  dev_price    ch_eps  pnum  nnum  tone  \
0            4.0        0.0 -0.040000   0.348315  0.201540   NaN   NaN   NaN
1            4.0        0.0 -0.307692   0.440000 -0.405429   NaN   NaN   NaN
2            4.0        0.0 -0.272727   0.438849 -0.627361   NaN   NaN   NaN
3            4.0        0.0  0.153846   0.492537       NaN   NaN   NaN   NaN
4            4.0        0.0  0.000000   0.343785  0.738266   NaN   NaN   NaN
...          ...        ...       ...        ...       ...   ...   ...   ...
44616        3.0        0.0  0.505376   0.068702  1.334760   4.0   0.0   4.0
44617        4.0        0.0  0.000000   0.436716       NaN   4.0   0.0   4.0
44618        3.0        0.0 -0.062500   0.062323  0.345900   4.0   0.0   4.0
44619        4.0        0.0 -0.208333   0.310345  0.123058   4.0   0.0   4.0
44620        4.0        0.0  0.000000   0.267606  2.202505   5.0   0.0   5.0

       anal_cov     mkt            mv      beme      logmv  up_gr  down_gr  \
0          25.0  유가증권시장  1.660000e+12  1.230233  28.136280    0.0      0.0
1          17.0     코스닥  1.210000e+11  1.842925  25.521203    0.0      0.0
2           6.0     코스닥  6.026617e+10  1.989728  24.822037    0.0      0.0
3          19.0     코스닥  6.795600e+10  2.213669  24.942126    0.0      0.0
4           9.0     코스닥  1.190000e+11  0.936649  25.505113    0.0      0.0
...         ...     ...           ...       ...        ...    ...      ...
44616      11.0  유가증권시장  8.350000e+11  1.963046  27.450609    0.0      0.0
44617      24.0  유가증권시장  2.110000e+13  1.434700  30.679259    0.0      0.0
44618       2.0  유가증권시장  3.700000e+11  2.038530  26.636823    0.0      0.0
44619      10.0  유가증권시장  3.190000e+12  0.871313  28.792210    0.0      0.0
44620       9.0  유가증권시장  2.150000e+12  1.026526  28.395988    0.0      0.0

       pos_tone  neg_tone  up_gr_size  down_gr_size  ch_price_size  \
0           0.0       1.0         0.0           0.0      -1.125451
1           0.0       1.0         0.0           0.0      -7.852678
2           0.0       1.0         0.0           0.0      -6.769646
3           0.0       1.0         0.0           0.0       3.837250
4           0.0       1.0         0.0           0.0       0.000000
...         ...       ...         ...           ...            ...
44616       1.0       0.0         0.0           0.0      13.872888
44617       1.0       0.0         0.0           0.0       0.000000
44618       1.0       0.0         0.0           0.0      -1.664801
44619       1.0       0.0         0.0           0.0      -5.998377
44620       1.0       0.0         0.0           0.0       0.000000

       ch_eps_size  pos_tone_size  neg_tone_size  up_gr_nanal  down_gr_nanal  \
0         5.670594       0.000000      28.136280          0.0            0.0
1       -10.347037       0.000000      25.521203          0.0            0.0
2       -15.572383       0.000000      24.822037          0.0            0.0
3              NaN       0.000000      24.942126          0.0            0.0
4        18.829566       0.000000      25.505113          0.0            0.0
...            ...            ...            ...          ...            ...
44616    36.639982      27.450609       0.000000          0.0            0.0
44617          NaN      30.679259       0.000000          0.0            0.0
44618     9.213680      26.636823       0.000000          0.0            0.0
44619     3.543113      28.792210       0.000000          0.0            0.0
44620    62.542311      28.395988       0.000000          0.0            0.0

       ch_price_nanal  ch_eps_nanal  pos_tone_nanal  neg_tone_nanal  \
0           -1.000000      5.038507             0.0            25.0
1           -5.230769     -6.892294             0.0            17.0
2           -1.636364     -3.764167             0.0             6.0
3            2.923077           NaN             0.0            19.0
4            0.000000      6.644397             0.0             9.0
...               ...           ...             ...             ...
44616        5.559140     14.682363            11.0             0.0
44617        0.000000           NaN            24.0             0.0
44618       -0.125000      0.691800             2.0             0.0
44619       -2.083333      1.230581            10.0             0.0
44620        0.000000     19.822547             9.0             0.0

      ch_price_up  ch_price_down  ch_price_pos  ch_price_neg  y2009  y2010  \
0               0            0.0      0.000000     -0.040000    1.0    0.0
1               0            0.0      0.000000     -0.307692    1.0    0.0
2               0            0.0      0.000000     -0.272727    1.0    0.0
3               0            0.0      0.000000      0.153846    1.0    0.0
4               0            0.0      0.000000      0.000000    1.0    0.0
...           ...            ...           ...           ...    ...    ...
44616           0            0.0      0.505376      0.000000    0.0    0.0
44617           0            0.0      0.000000      0.000000    0.0    0.0
44618           0            0.0     -0.062500      0.000000    0.0    0.0
44619           0            0.0     -0.208333      0.000000    0.0    0.0
44620           0            0.0      0.000000      0.000000    0.0    0.0

       y2011  y2012  y2013  y2014  y2015  y2016  y2017  y2018 lrgcode  ind1  \
0        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       J   0.0
1        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       C   0.0
2        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       C   0.0
3        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       C   0.0
4        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       C   0.0
...      ...    ...    ...    ...    ...    ...    ...    ...     ...   ...
44616    0.0    0.0    0.0    1.0    0.0    0.0    0.0    0.0       F   0.0
44617    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0       K   0.0
44618    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0       K   0.0
44619    0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0       H   0.0
44620    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0       H   0.0

       ind2  ind3  ind4  ind5  ind6  ind7  ind8  ind9  ind10  ind11  ind12  \
0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    1.0    0.0    0.0
1       0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
2       0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
3       0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
4       0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    0.0    0.0
...     ...   ...   ...   ...   ...   ...   ...   ...    ...    ...    ...
44616   0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0    0.0    0.0    0.0
44617   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    1.0    0.0
44618   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0    1.0    0.0
44619   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0    0.0    0.0    0.0
44620   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0    0.0    0.0    0.0

       ind13  ind14  ind15  ind16  ind17       car
0        0.0    0.0    0.0    0.0    0.0 -4.382425
1        0.0    0.0    0.0    0.0    0.0  4.874719
2        0.0    0.0    0.0    0.0    0.0  8.494719
3        0.0    0.0    0.0    0.0    0.0 -0.015281
4        0.0    0.0    0.0    0.0    0.0 -3.005815
...      ...    ...    ...    ...    ...       ...
44616    0.0    0.0    0.0    0.0    0.0 -3.973667
44617    0.0    0.0    0.0    0.0    0.0 -0.391014
44618    0.0    0.0    0.0    0.0    0.0  1.304345
44619    0.0    0.0    0.0    0.0    0.0 -1.660708
44620    0.0    0.0    0.0    0.0    0.0 -4.071029

[44621 rows x 86 columns]

In [65]:
titError.to_csv('./(NewtitError) anal_reprt_title_car.csv', index=False, encoding="cp949")

# toy

In [8]:
toy_df=pd.DataFrame({"index":[7,1,5,3,2,4]})
print(toy_df)

toy_titError=pd.DataFrame( {"번호":list(range(1,9)),
                            "title":["AA","BB","CC","DD","EE","FF","GG","HH"]})
print(toy_titError)

   index
0      7
1      1
2      5
3      3
4      2
5      4
   번호 title
0   1    AA
1   2    BB
2   3    CC
3   4    DD
4   5    EE
5   6    FF
6   7    GG
7   8    HH

In [15]:
total = [ ] # 전역변수 
index_list= toy_df['index']
index_list

0    7
1    1
2    5
3    3
4    2
5    4
Name: index, dtype: int64

In [25]:
total = []
for i,w in enumerate(toy_titError['title']):
#     print(i,w)
    duplication = 0 
    for j in index_list:
        if toy_titError['번호'][i] == j: 
            duplication = duplication + 1 
        else: 
            duplication = duplication
    total.append(duplication)
    
print(total)

[1, 1, 1, 1, 1, 0, 1, 0]

In [6]:
list = toy_df['index']
# tmp = toy_titError[toy_titError['번호'].isin(list)] # '번호'컬럼의 값이 list를 포함하는 것만 골라냄 

toy_titError['error']= 0
toy_titError

# 7 == toy_titError['번호']

toy_titError['error'][7]=1

# toy_titError

C:\Users\Public\Documents\ESTsoft\CreatorTemp/ipykernel_5180/3706743885.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toy_titError['error'][7]=1

In [7]:
# for i in list:
i = 7
if i == toy_titError['번호']: # 행번호와 같으면 
#     toy_titError['error'][i]=1
    print(1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [8]:
type(toy_titError['error'][i])

KeyError: 'error'

In [ ]:
toy_titError.iloc[0,:]
pd.DataFrame(toy_titError.iloc[0,:]).T